<!-- Dummy Customer Home Page-->

<h1>Successful login</h1>
<h2>Welcome <%= name %></h2>

<form action="/api/vendor/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
