<!-- Dummy Vendor Login Page-->

<h1>Vendor Login</h1>
<% if(messages.error) { %> <%= messages.error %> <% } %>

<form action="/api/vendor/login" , method="POST">
  <div>
    <label for="name">Name</label>
    <input type="name" , id="name" , name="name" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" , id="password" , name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
<a href="/api/vendor/register">Register</a>
